.modal-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba(0, 0, 0, .6);
}

.modal-body {
    background-color: white;
    border-radius: 5px;
}
